<%- include('../partials/header') %>
<h2>My American Dream</h2>
  <p><img class="pic" src="images/americandream.jpeg"/> </p>
  <p>My American dream changes as the years go on.</p>
  <p>But one of the my dreams was to be the first in my family to graduate from college.</p>
  <p>The picture above shows my graduation day back in Summer 2020 with a bachelor degree in Biology</p>
  <p><img class="pic" src="images/transformation.jpg"/> </p>
  <p>Another of my dreams was to be able to challenge myself and accomplish things.</p>
  <p>In the second picture, you see a picture of me from the beginning of the pandemic, that is March 2020. </p>
  <p>On the right side, you see me as a new person who lost weight. From 330 lbs to 190 lbs. The right picture is from the Spring 2021.</p>
  <p><img class="pic" src="images/working.jpeg"/> </p>
  <p>Lastly, I changed my career.</p>
  <p>I decided to pursue software engineer instead of medical school.</p>
  <p>I love what I do. I love to program and create things as well as solve problems.</p>
<%- include('../partials/footer') %>