<%- include('../partials/header') %>
<h2>Disclaimer</h2>
  <p>The content in here is taken from a template and its design is from the bootstrap version 5. In addition, this page was built on class with the help of the instructor.</p>

<%- include('../partials/footer') %>