<%- include('../partials/header') %>
<h2>What does it mean to be an immigrant?</h2>
  <p><img class="pic" src="images/family1.jpg"/> </p>
  <p>To be immigrant, is to be strong and vulnerable at the same time.</p>
  <p>It is willing to be proud and to be humble.</p>
  <p>It is about learning and unlearning</p>
  <p>It is the best way to love and despise life</p>
  <p>It is a magical instance where I would never regret. Because I can grow as a person.</p>
  <p>In here, you see my parents and sister and we came to America without any English. We started from scractch.</p>
  <p><img class="pic" src="images/family2.jpg"/> </p>
<%- include('../partials/footer') %>