<%- include('../partials/header') %>
<h2>My Home Page</h2>
  <p><img class="pic" src="images/mtbaker.jpg"/> </p>
  <h2>Hello, welcome to my page.</h2>
  <p>In here, I will show few pages of my life by building Node.js using Express.js and EJS templates where I use Bootstrap as a design format.</p>
  <br>
  <h3>Please enjoy! Thank you</h3>
<%- include('../partials/footer') %>