<%- include('../partials/header') %>
<h2>Links</h2>
  <p>If you want to see my work, feel free to check some of my work and my LinkedIn.</p>
  <p>Also, check which version I used for Bootstrap.</p>
  <p></p><a href="https://barrientosgers.github.io/gersonbarrientosx" target="_blank">What I like in Life</a></p>
  <p></p><a href="https://www.linkedin.com/in/gerson-barrientos-019b56bb/" target="_blank">LinkedIn</a></p>
 <p></p><a href="https://tinyurl.com/express-node-bs5-template target="_blank">Bootstrap Template</a></p>
<%- include('../partials/footer') %>