<%- include('../partials/header') %>
<h2>My Story in Venezuela</h2>
  <p><img class="pic" src="images/venezuela.jpg"/> </p>
  <p>My family and I came to United States in a summer 2013.</p>
  <p>The crisis situation in Venezuela escalated to the point that it was hard to live. No food, no electricity, and no jobs. My parents wondered: How are we going to live like this now?</p>
  <p>Because of that, we had to move to another coutnry. Lucky, my dad had few friends here in Seattle and they helped us to immigrate to the land of milk and honey. </p>
  <p>My life in Venezuela was perfect, in my own perspective. I had friends and my own culture.</p>
  <p>Once I moved to America, I had to learn English and the American culture. It took me long time to accomdate myself.</p>
<%- include('../partials/footer') %>